<app-auth-layout>
  @if (!passwordUpdated()) {
    <p class="text-center mb-2 font-medium text-gray-500">Definir nova senha</p>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="mt-8 flex flex-col gap-5"
      appFocusInvalidInput
    >
      <div class="mb-3 block">
        <app-input
          [control]="form.controls.password"
          formControlName="password"
          label="Nova Senha"
          type="password"
          placeholder="••••••••"
        >
          <lucide-angular [img]="Lock" size="20" class="text-gray-400" icon></lucide-angular>
        </app-input>
      </div>

      <div class="mb-3 block">
        <app-input
          [control]="form.controls.confirmPassword"
          formControlName="confirmPassword"
          label="Confirmar Nova Senha"
          type="password"
          placeholder="••••••••"
        >
          <lucide-angular [img]="Lock" size="20" class="text-gray-400" icon></lucide-angular>
        </app-input>
        @if (form.get('confirmPassword')?.touched && form.errors?.['passwordMismatch']) {
          <span class="text-red-500 text-xs ml-1 mt-1 block">As senhas não coincidem</span>
        }
      </div>

      <app-button type="submit" [fullWidth]="true" [loading]="isLoading()" [disabled]="isLoading()">
        Salvar nova senha
      </app-button>
    </form>
  } @else {
    <div class="text-center">
      <div class="flex justify-center mb-6">
        <div class="rounded-full bg-teal-100 p-3">
          <lucide-angular [img]="CircleCheck" class="text-teal-600" size="32"></lucide-angular>
        </div>
      </div>

      <h3 class="text-lg font-medium text-gray-900 mb-2">Senha redefinida</h3>
      <p class="text-sm text-gray-500 mb-6">
        Sua senha foi alterada com sucesso. Você já pode fazer login com sua nova senha.
      </p>

      <app-button [fullWidth]="true" routerLink="/entrar"> Ir para login </app-button>
    </div>
  }
</app-auth-layout>
